.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.titlebar {
  height: 28px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
  z-index: 100;
}
